p{
    margin: 0;
}

:root {
    --header-height: 72px;
    --footer-height: 56px;
}

body::-webkit-scrollbar {
    width: 14px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: #212529;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #fff;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 4px solid #212529;  /* padding вокруг плашки */
}
