.Modal {
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
  position: fixed;

  &._visible {
    visibility: visible;
    opacity: 1;
  }
  &__Wrapper{
    padding: 1rem 2.5rem;
    background-color: #fff;
    border-radius: 1rem;
  }
}